* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  font-family: arial, sans-serif;
  text-align: center;
}

.container {
  /*  background-color: salmon;*/
  margin-top: 20px;
}

.toast {
  position: relative;
  margin: 0 auto;
}

.content {
  width: 90%;
  margin: 20px auto;
  padding: 15px 30px 45px;
  background-color: white;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 40%;
  /*background-color: red;*/
}

.right {
  width: 60%;
  /*background-color: gold;*/
}

.clear {
  clear: left;
}

.quiz {
  font-size: 40px;
  margin-top: 10px;
}

.title {
  font-size: 30px;
  margin-top: 10px;
}

.team {
  margin-top: 20px;
  list-style: none;
}

.its {
  width: 500px;
  height: 450px;
  background-image: url(../assets/its.png);
  background-size: cover;
  background-position: 0;
  margin: 10px auto;
}

button {
  margin: 10px 15px 0;
  padding: 10px 30px 10px;
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

#myBoard {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#lockBoard {
  position: absolute;
  width: 400px;
  background: aquamarine;
  z-index: 9; /*! margin: 30px; */
  background: #ffffff;
  top: 1; /*! display: none; */
  opacity: 0%;

  height: 0px;
}

#lockBoard.Freeze {
  position: absolute;
  width: 400px;
  background: aquamarine;
  z-index: 9; /*! margin: 30px; */
  background: #ffffff;
  top: 1; /*! display: none; */
  opacity: 0%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 494px;
}

#startBtn {
  background-color: #007e33;
}

#clearBtn {
  background-color: #0d47a1;
}
