* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  font-family: arial, sans-serif;
  text-align: center;
}

.content {
  width: 90%;
  margin: 20px auto;
  padding: 15px 30px 45px;
  background-color: white;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 40%;
  /*background-color: red;*/ 
}

.right {
  width: 60%;
  /*background-color: gold;*/
}

.clear {
  clear: left;
}

.quiz {
  font-size: 40px;
  margin-top: 10px;
}

 .title {
  font-size: 30px;
  margin-top: 10px;
}

.team {
  margin-top: 20px;
  list-style: none;
}

.its {
  width: 500px;
  height: 450px;
  background-image: url(../assets/its.png);
  background-size: cover;
  background-position: 0;
  margin: 10px auto;
}

button {
  margin: 10px 15px 0;
  padding: 10px 30px 10px;
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

#startBtn {
  background-color: #007e33;
}

#clearBtn {
  background-color: #0d47a1;
}
