* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eaeaea;
    font-family: arial, sans-serif;
    text-align: center;
}

.container {
    width: 900px;
    margin: auto;
    padding: 15px 30px 45px;
    background-color: white;
}

.quiz {
    font-size: 40px;
    margin-top: 10px; 
}

.its {
    width: 450px;
    height: 400px;
    background-image: url(its.png);
    background-size: cover;
    background-position: 0;
    margin: 10px auto;
}

.team {
    margin-top: 20px;
    list-style: none;
}

.title {
    margin-top: 50px;
}

.chessboard {
    width: 480px;
    height: 480px;
    margin: 20px auto;
    border: 15px solid #333;
}
.black {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #8B4513;
    font-size:40px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 60px;
    height: 60px;
    background-color: white;
    font-size:40px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
